.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(216, 213, 201);

}

#EXP {
    background-image: linear-gradient( #d0d66e 0%, #e3e5c9 100%);
    text-align: center;
    border: 3px solid rgb(111, 111, 111);
    width: 100%;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;


}

#INFOS {
    background: linear-gradient( #e3e5c9 0%, #d0d66e 100%);
        text-align: center;
        border: 3px solid rgb(111, 111, 111);
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
}

img { 
    border: 3px solid rgb(111, 111, 111);
    border-radius: 50%;
    max-width: 100%;
}

@media screen and (min-width: 800px) {
    * {
      margin: 1em 2em;
    }
  }
