.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(216, 213, 201);

}

#INFOS {
    background: linear-gradient( #6ec6d6 0%, #a5c5cd 100%);
        text-align: center;
        border: 3px solid rgb(111, 111, 111);
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 5à0;
}

#EXP {
    background-image: linear-gradient( #a5c5cd 0%, #6ec6d6 100%);
    text-align: center;
    border: 3px solid rgb(111, 111, 111);
    width: 100%;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 500;


}


#photo { 
    border: 3px solid rgb(111, 111, 111);
    border-radius: 50%;
    max-width: 100%;
}

#tableau {
    border-radius: 2rem;
}

@media screen and (min-width: 800px) {
    * {
      margin: 1em 2em;
    }
  }
